<h2 class="page-heading">Ladder</h2>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>Wins</th>
            <th>%</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let team of ladder">
            <td>{{team.rank}}</td>
            <td><img class="inline-team-logo" src="/assets/images/{{team.teamid}}.png" alt="{{team.team}}" />
              {{team.team}}</td>
            <td>{{team.wins}}</td>
            <td>{{team.percentage}}%</td>
        </tr>
    </tbody>
</table>
