.live::before{
  content: '';
  width: 10px;
  height: 10px;
  margin-right: 0.5rem;
  display: inline-block;
  background: red;
  border-radius: 0.5rem;
}
span.team {
  font-size: 16px;
  color: #3F51B5;
  font-weight: bold;
  font-family: Lato;
  margin: 0.5rem;
}
span.versus{ margin: 0 2rem;}
.tip-item {
  border-bottom: 1px solid #ededed;
  margin-bottom: 0.5rem;
}
