<h1 class="page-title">Tips</h1>

<div class="tip-item">
    <p class="live">Live</p>
    <p class="tip-details">
        <span class="tip">50.1%</span>
        <span class="team">Adelaide</span>
        <span class="versus">VS</span>
        <span class="team">Brisbane Lions</span>
        <span class="tip">49.9%</span>
    </p>
    <p class="muted">7:50pm, Apr 26, Adelaide Oval, Adelaide, SA.</p>
</div>
<div class="tip-item">
    <p class="tip-details">
        <span class="tip">50.1%</span>
        <span class="team">Adelaide</span>
        <span class="versus">VS</span>
        <span class="team">Brisbane Lions</span>
        <span class="tip">49.9%</span>
    </p>
    <p class="muted">7:50pm, Apr 26, Adelaide Oval, Adelaide, SA.</p>
</div>
<div class="tip-item">
    <p class="tip-details">
        <span class="tip">50.1%</span>
        <span class="team">Adelaide</span>
        <span class="versus">VS</span>
        <span class="team">Brisbane Lions</span>
        <span class="tip">49.9%</span>
    </p>
    <p class="muted">7:50pm, Apr 26, Adelaide Oval, Adelaide, SA.</p>
</div>
<div class="tip-item">
    <p class="tip-details">
        <span class="tip">50.1%</span>
        <span class="team">Adelaide</span>
        <span class="versus">VS</span>
        <span class="team">Brisbane Lions</span>
        <span class="tip">49.9%</span>
    </p>
    <p class="muted">7:50pm, Apr 26, Adelaide Oval, Adelaide, SA.</p>
</div>
