<footer class="orange">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-dark-blue">AUFooty</h1>

    </div>
    <div class="col-md-3">
      <h3>Follow</h3>
      <ul>
        <li><a href="">Twitter</a></li>
        <li><a href="">Instagram</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3>Links</h3>
      <ul>
        <li><a href="">Fixtures</a></li>
        <li><a href="">Ladder</a></li>
        <li><a href="">Ladder</a></li>
        <li><a href="">Ladder</a></li>
      </ul>
    </div>
    <div class="col-md-6 dark-blue sub-footer">
        <a class="to-top" href="#"><span>⬆</span>To top</a>
        <p>&copy; 2019, ICE Project.</p>
    </div>
  </div>
</footer>
