<footer class="dark-blue">
  <div class="row">
    <div class="col-md-12">
        <a id="toTop" class="to-top" href="#"><span>⬆</span><br />To top</a>
        <p>&nbsp;</p>
        <ul>
            <li><a routerLink="/fixtures">Fixtures</a></li>
            <li><a routerLink="/ladder">Ladder</a></li>
            <li><a routerLink="/tips">Tips</a></li>
            <li><a routerLink="/head2head">Head to head</a></li>
        </ul>
        <p class="text-center">&copy; 2019, ICE Project.</p>
    </div>
  </div>
</footer>
<script>
$(document).ready(function () {
  $('#toTop').on('click',function(e){

  });
});
</script>
