.banner-table{position: relative;}

table{
  border-top: 5px solid rgb(10,20,50);
  position: absolute;
  left: 4rem;
  top: 2rem;
  z-index: 3;
  background: white;
  max-width: 250px;
  width: 100%;
  box-shadow: 0 2px 15px -2px rgba(0,0,0,0.15);
}
tr td, tr th{padding: 0.5rem;}
tr td{border-bottom:  1px solid #efefef;}

