<nav>
    <div class="overlay"></div>
    <div class="row">
        <div class="primary-nav col-md-12">
            <div class="row outset">
                <div class="col-md-4">
                    <span class="logo">
                      <!-- <img src="/assets/images/logo-outline.png" alt="">  -->
                      AUFooty
                    </span>
                </div>
                <div class="col-md-8"></div>
            </div>
        </div>
        <div class="sub-nav col-md-12">
            <div class="outset">
                <ul>
                    <li><a routerLink="/fixtures">Fixtures</a></li>
                    <li><a routerLink="/ladder">Ladder</a></li>
                    <li><a routerLink="/tips">Tips</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-12">
          <div class="inset row">
            <div class="col-md-8">
                <h1>Your #1 source for everything Footy</h1>
            </div>
              <div class="col-md-4">
                <app-fixtures-preview></app-fixtures-preview>
                </div>
          </div>
        </div>
    </div>
</nav>
