<div *ngIf="isTeamSelected" class="myrteam">
  <img class="inline-team-logo" src="/assets/images/{{selectedTeam.id}}.png" alt="{{selectedTeam.name}}_logo">
  <span>{{selectedTeam.name}}</span>
  <a class="muted text-blue" (click)="changeTeam()">(change)</a>
</div>
<div *ngIf="!isTeamSelected" class="overlay">
  <div class="popup">
    <div class="popup-header">
      <h3>Select your rival team</h3>
      Choose nearest
    </div>
    <div class="row">
      <a *ngFor="let team of teams" (click)="onSelect(team)" class="col-md-2 col-sm-4 team">
        <img  src="/assets/images/{{team.id}}.png" alt="{{team.name}}_logo" />
        <span>{{team.name}}</span>
      </a>
    </div>
  </div>
</div>
