<div class="ladder-preview">
    <h6>Leaderboard</h6>
    <table>
        <thead>
            <tr>
                <th colspan="2">Team</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of ladder">
                <td><img class="inline-team-logo" src="/assets/images/{{team.teamid}}.png" alt="{{team.team}}"></td>
                <td>{{team.team}}</td>
                <td>{{team.percentage}}%</td>
            </tr>
        </tbody>
    </table>
<p class="text-right"><a routerLink="/ladder" class="link-right ">View Full Ladder ➞</a></p>
</div>
