/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700,800,900|Lato:400,700,900');

html,body{margin: 0;padding:0;width: 100%;font-family: 'Heebo';font-size: 13px; letter-spacing: 0.5px;}
h1,h2,h3,h4,h5{font-weight: 800;letter-spacing: 2px;font-family: 'Lato';}

a{
  color:black;
  text-decoration: none;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, transparent 50%, #ac9766 50%);
  transition: background-position 0.3s;
}
a:hover {background-position: 0 100%;}

.inset{max-width: 1000px; margin: 0 auto;}
.outset{max-width: 1000px; margin: 0 auto;}

.dark-blue{background-color: #272740;}
.orange{background-color: #ffd7a5;}

.text-orange{color: #ffd7a5;}
.text-dark-blue{color: #272740;}

.text-right{text-align: right;}
.text-center{text-align: center;}

ul{margin: 0;padding: 0;}
ul li{list-style-type: none;}

.inline-team-logo{height: 20px;}
.scores{border: 1px solid #272740;padding: 0 0.5rem;}

span.tip {
  color: rgb(10,20,50);
  font-weight: bold;
  background: #efefef;
  padding: 0.5rem;
}
