.prediction{
  width: 100%;
  padding: 1rem;
  border: 3px solid #272740;
  border-left: none;
  border-right: none;
}
.prediction img{height: 40px;margin: 0 01rem;}
.prediction h3{margin: 0;}
.versus{margin-right: 2rem; margin-left: 2rem;}
.odds-title{
  color: #040626;
  text-align: center;
  font-weight: 600;
}
.odds-detail{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.odds{width: 100%;}
.odds-bar{display: block; background: #ededed; width: 100%; border-radius: 0.5rem;}
.odds-fill{display: block;background: #fbbf00;border-radius: 0.5rem;}

.odds-tile{position: relative;}
.odds-tile .tip{position: absolute;}
