<h2 class="page-heading">Head to head</h2>
<div class="row">
    <div class="col-md-6 text-center" *ngIf="myTeam">
        <img  src="/assets/images/{{myTeam.id}}.png" alt="{{myTeam.name}}_logo" width="80"/>
            <h5>{{myTeam.name }}</h5>
    </div>

    <div class="col-md-6 text-center">
        <img   *ngIf="myTeamR" src="/assets/images/{{myTeamR.id}}.png" alt="{{myTeamR.name}}_logo" width="80"/>
        <h5  *ngIf="myTeamR">{{myTeamR.name}}</h5>
        <div><app-rival-team></app-rival-team></div>
    </div>
</div>
<div class="col-md-8" *ngIf="myTeamR && myTeam">

    {{myTeam.name}}
    vs
    {{myTeamR.name}}
</div>
<table>
    <thead>
        <tr >
            <th>Year</th>
            <th>Round</th>
            <th>Home Team</th>
            <th>vs</th>
            <th>Away Team</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of gamesFil">
            <td>{{game.year}}</td>
            <td>{{game.round}}</td>
            <td>{{game.hteam}}</td>
            <td><span class="scores">{{game.hscore}} - {{game.ascore}}</span></td>
            <td>{{game.ateam}}</td>
            <td>{{game.date | date: 'shortTime'}}, {{game.date | date: 'fullDate'}}</td>
        </tr>
    </tbody>
</table>
