<h3 class="page-heading">Head to head</h3>

<div class="row">
    <div class="col-md-6 text-center">
        <div style="background-image:url('/assets/images/1.png')" class="h2h-image"></div>
        <h5>Adelaide</h5>
    </div>
    <div class="col-md-6 text-center">
        <div style="background-image:url('/assets/images/2.png')" class="h2h-image"></div>
        <h5>Brisbane Lions</h5>
        <a class="muted text-blue">Change rival</a>
    </div>
    <div class="col-md-12">
        <p class="text-center">Total games: 4</p>
        <div class="h2h-bar">
            <span style="width:50%" class="h2h-win">Win: 2</span>
            <span style="width:25%" class="h2h-draw">Draw: 1</span>
            <span style="width:25%" class="h2h-loss">Loss: 1</span>
        </div>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Year</th>
            <th>Round</th>
            <th>Home Team</th>
            <th>vs</th>
            <th>Away Team</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2019</td>
            <td>5</td>
            <td>Adelaide</td>
            <td><span class="scores">12 - 10</span></td>
            <td>Brisbane Lions</td>
            <td>23 April</td>
        </tr>
        <tr>
            <td>2019</td>
            <td>5</td>
            <td>Adelaide</td>
            <td><span class="scores">12 - 10</span></td>
            <td>Brisbane Lions</td>
            <td>23 April</td>
        </tr>
        <tr>
            <td>2019</td>
            <td>5</td>
            <td>Adelaide</td>
            <td><span class="scores">12 - 10</span></td>
            <td>Brisbane Lions</td>
            <td>23 April</td>
        </tr>
        <tr>
            <td>2019</td>
            <td>5</td>
            <td>Adelaide</td>
            <td><span class="scores">12 - 10</span></td>
            <td>Brisbane Lions</td>
            <td>23 April</td>
        </tr>
        <tr>
            <td>2019</td>
            <td>5</td>
            <td>Adelaide</td>
            <td><span class="scores">12 - 10</span></td>
            <td>Brisbane Lions</td>
            <td>23 April</td>
        </tr>
    </tbody>
</table>
